# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
venv/

# dotenv
.env
.env.*

# VSCodeなどのエディタ設定
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# Renderなどの設定（必要に応じて）
*.sqlite3
*.db
